<style>
  h2 {
    color: white;
    background: #555;
    padding: 6px;
    text-align: left;
  }
  .rating {
    color: gray;
    border: solid 1px gray;
    padding: 4px;
  }
  img {
    float: left;
    margin-right: 40px;
    box-shadow: 8px 8px 4px gray;
    width: "400px";
  }
  p {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .price {
    color: green;
    border: solid 2px green;
    padding: 4px;
  }
  .review{
  margin-top: 350px;
  margin-bottom: 00px;
}
</style>


<h1><%= @entry[:title] %></h1>
<p>
<span class="price">Admission Price: <%= number_to_currency(@entry[:admission_price], precision:2) %></span>    <%= link_to "edit", "/places/#{@entry.id}/edit" %></p>

<img src=<%= @entry[:photo_url] %>>

<p><h2>Description: </h2></p>
<h5><%= @entry[:description] %></h5><br><br>

<h2>Reviews</h2>

<form action=<%= "/places/#{@entry.id}/review" %>>
<h5><%= select_tag "rating", 
  "<option value=5>5 star</option>
  <option value=4>4 star</option>
  <option value=3>3 star</option>
  <option value=2>2 star</option>
  <option value=1>1 star</option>".html_safe, multiple: false %>
<input name="title" placeholder="Enter title" size="20"></h5> 
<%= text_field_tag 'description', nil, maxlength: 50, style:"width:600px", placeholder:"Enter description" %> 
<button>Submit</button></form><br>

<% @reviews.each do |review| %>
  <li>
    <h4>Rating: <%= review[:rating] %> stars</h4>
    <h5>   Title: <%= review[:title] %></h5>
    <h5>   Review: <%= review[:description] %></h5>
  </li>
<% end %>



